# Appwrite Configuration
# Appwrite コンソール → プロジェクト設定 から取得

NEXT_PUBLIC_APPWRITE_ENDPOINT=https://pocketbase.ciist.omu.ac.jp/v1
NEXT_PUBLIC_APPWRITE_PROJECT_ID=takenawa
NEXT_PUBLIC_APPWRITE_DATABASE_ID=takenawa
